/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb. 28, 2023, 11:04:53 p.m.
    Author     : Youssif
*/

#playBtn
{
    -fx-text-fill: green;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius:30;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
   
}
#pauseBtn
{
    -fx-text-fill: orange;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius:30;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#stopBtn
{
    -fx-text-fill: red;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius:30;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#graphBtn
{
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius:30;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#stopBtn:hover
{
    -fx-padding: 15 20 15 15;
}
#stopBtn:pressed
{
    -fx-padding: 10 10 10 10;
    
}
#pauseBtn:hover
{
    -fx-padding: 15 20 15 15;
}
#pauseBtn:pressed
{
    -fx-padding: 10 10 10 10;
    
}
#graphBtn:hover
{
    -fx-padding: 15 20 15 15;
}
#graphBtn:pressed
{
    -fx-padding: 10 10 10 10;
    
}

#playBtn:hover
{
    -fx-padding: 15 20 15 15;
}
#playBtn:pressed
{
    -fx-padding: 10 10 10 10;
    
}
